-
  const cards = [
    {
      widgetTitle: "Personal Info",
      widgetType: "general",
      widgetSettings: true,
      widgetSections: [
        {
          title: "Contact Information",
          more: true,
        },
        {
          title: "Personal Information",
          more: false,
        }
      ]
    },
    {
      widgetTitle: "About",
      widgetType: "general",
      widgetSettings: true,
      widgetSections: [
        {
          title: "Summary",
          more: false,
        },
        {
          title: "Work Assignments",
          more: true,
        }
      ]
    },
    {
      widgetTitle: "Performance",
      widgetType: "career",
      widgetSettings: true,
      widgetSections: [
        {
          title: "Timeline",
          more: false,
        },
        {
          title: "Reviews",
          more: true,
        },
        {
          title: "Goals",
          more: true,
        },
        {
          title: "Competencies",
          more: true,
        },
        {
          title: "Development Plans",
          more: true,
        },
      ]
    },
    {
      widgetTitle: "Career",
      widgetType: "career",
      widgetSettings: true,
      widgetSections: [
        {
          title: "Job Preferences",
          more: false,
        },
      ]
    },
    {
      widgetTitle: "Insights",
      widgetType: "analysis",
      widgetSettings: false,
      widgetSections: [
        {
          title: "Highlights",
          more: false,
        },
        {
          title: "Recent Activity",
          more: false,
        },
        {
          title: "Recommendations",
          more: false,
        },
      ]
    },
  ]