mixin card-container(title, hasSettings)
  article
    header.flex.justify-between.items-center.mb-2
      h2.text-lg.text-gray-600= title
      if hasSettings
        img(src="settings.svg" class="cursor-pointer")
    section.border.rounded.shadow.px-4.divide-y.divide-gray-400.mb-4
      block