mixin card-container(title, hasSettings)
  article
    header.flex.justify-between.items-center.mb-2
      h2.text-lg.text-gray-600= title
      if hasSettings
        img(src="settings.svg")
        //- button.w-5.h-5.bg-gray-400.rounded-full
    section.rounded.shadow-md.px-4.divide-y.divide-gray-400.mb-4
      block