mixin h2(title, hasAttributes)
  h2(class="font-bold text-lg " + hasAttributes)= title

mixin h3(title, hasAttributes)
  h3(class="text-base mb-1 " + hasAttributes)= title

mixin h4(title, hasAttributes)
  h4(class=hasAttributes) Primary Residence