mixin insights-metric(title, secondaryLabel, icon, percentageNumber, percentageColour)
  div.py-2
    header.flex.justify-between.items-center
      div(class="flex")
        img(src=icon)
        div(class="pl-4")
          +h3(title)
          div.text-gray-600 #{secondaryLabel}:
      div
        span #{percentageNumber}
        span #{percentageColour}
    block