-
  const links = [
    {
      name: 'Overview',
      url: './'
    },
    {
      name: 'About',
      url: './about.html'
    },
    {
      name: 'Performance',
      url: '#'
    },
    {
      name: 'Career',
      url: '#'
    },
    {
      name: 'Personal Info',
      url: '#'
    },
    {
      name: 'Forms',
      url: '#'
    },
    {
      name: 'Preferences',
      url: '#'
    },
    {
      name: 'Security',
      url: '#'
    },
    {
      name: 'Notifications',
      url: '#'
    },
    {
      name: 'Apps',
      url: '#'
    },
  ]

mixin navigation(currentPage)
  //- span Insert invisible tab that hides on medium screen sizes and up
  nav(class="module__nav h-full bg-gray-100 border-r sticky")
    ul(class="module__nav-tree py-4")
      each link in links
        if link.name === currentPage
          li
            a(class='py-1 px-4 block bg-gray-200 text-black-600 font-bold' href=link.url)= link.name
        else
          li
            a(class='py-1 px-4 block hover:bg-gray-200 text-blue-600' href=link.url)= link.name
    img(src="sidebar-collapse.svg" class="module__nav-toggle module__nav-toggle--collapse")
    img(src="sidebar-expand.svg" class="module__nav-toggle module__nav-toggle--expand")