-
  const links = [
    {
      name: 'Overview',
      url: './'
    },
    {
      name: 'About',
      url: './about.html'
    },
    {
      name: 'Performance',
      url: '#'
    },
    {
      name: 'Career',
      url: '#'
    },
    {
      name: 'Personal Info',
      url: '#'
    },
    {
      name: 'Forms',
      url: '#'
    },
    {
      name: 'Preferences',
      url: '#'
    },
    {
      name: 'Security',
      url: '#'
    },
    {
      name: 'Notifications',
      url: '#'
    },
    {
      name: 'Apps',
      url: '#'
    },
  ]

mixin navigation(currentPage)
  nav(class="module-nav h-full sticky")
    ul(class="module-nav__inner")
      each link in links
        if link.name === currentPage
          li
            a(class='module-nav__item' + " " + "is-active" href=link.url)= link.name
        else
          li
            a(class='module-nav__item' href=link.url)= link.name
    img(src="sidebar-collapse.svg" alt="" class="module-nav__toggle module-nav__toggle--collapse")
    img(src="sidebar-expand.svg" alt="" class="module-nav__toggle module-nav__toggle--expand")