mixin performance-metric(title, flag, secondaryLabel, secondaryDate, metric, value)

  - const flagColour = flag ? "border-blue-700" : "border-gray-400"

  header.flex.justify-between.items-center
    div(class="border-l-4 pl-4 " + flagColour)
      +h4(title)
      div
        span.text-secondary #{secondaryLabel}:
        span &nbsp;#{secondaryDate}
    div.flex
      if metric
        img(src="chart-performance.svg" aria-hidden='true')
      span.ml-2 #{value}
  block