mixin section-container(title, hasActions, hasAdd)
  section.py-4
    header.flex.justify-between.items-center.mb-6.border-b.border-gray-300
      +h3(title, "font-bold")
      if hasActions
        a(class="text-blue-400 hover:underline" href="#") All (2)
      if hasAdd
        button
          img(src="toolbar-add.svg" alt="Add" + " " + title)
    .content
      block