mixin section-container(title, hasMore)
  section.py-5
    header.flex.justify-between.items-center.mb-4
      +h2(title, "font-bold")
      if hasMore
        a(class="text-blue-400 hover:underline" href="#") All (2)
    block