mixin section-container(title, hasMore)
  section.py-5
    header.flex.justify-between.items-center.mb-4
      h2.font-bold.text-lg= title
      if hasMore
        a(class="text-blue-400 hover:underline" href="#") All (2)
    block