mixin section-container(title, hasMore, hasAdd)
  section.mt-4.pb-4
    if title
      header.section-header.relative.flex.justify-between.items-center.mb-6.border-b.border-gray-300
        +h3(title, "font-bold")
        if hasMore || hasAdd
          .header__actions
            if hasMore
              a(class="actions__item text-primary hover:underline" href="#") All (2)
            if hasAdd
              button.header__action
                img(src="toolbar-add.svg" alt="Add" + " " + title)
    .content
      block