mixin subsection-header(title)
  div.subsection
    header(class="subsection-header mt-6 mb-2")
      +h4(title)
    block

mixin subsection-content(title, hasContentActions)
  div(class="content__item mt-2 pr-12 relative")
    block
    if hasContentActions
      div.content__actions.absolute.right-0.top-0
        p Edit #{title}
        p Delete #{title}