mixin subsection-header(title)
  div.subsection
    header(class="subsection-header mt-6 mb-2")
      +h4(title)
    block

mixin subsection-content(title, hasActions)
  div(class="content__item mt-2 pr-12 relative")
    block
    if hasActions
      div.content__actions
        button.content__action
          img(src="toolbar-edit.svg" alt="Edit" + " " + title)
        button.content__action
          img(src="toolbar-delete.svg" alt="Delete" + " " + title)