mixin tabs-container(title, hasSettings)
  .flex.sticky.top-0.pt-4.bg-white.z-10
    img(src="tab-previous.svg" class="mb-3")
    div.tabs
      div.tab
        img(src="example-tabs.svg" alt="" class="block")
    img(src="tab-next.svg" class="mb-3")