extends ../layouts/layout.pug

block title
  title Website Home |  About

block body
  +navigation('About')

  main(class="module__content")
    +toolbar-container()

    section(class="sm:grid sm:gap-4 sm:grid-cols-2 xl:grid-cols-3")
      div(class="col-span-2")
        +card-container("About")
          +tabs-container()
          +section-container("Summary")
            +section-content("Summary", true, true)
              p Assist with the analyses of marketing data, including campaign results, conversion rates, and online traffic in order to improve future marketing strategies and campaigns. A proven record of strategy execution, process implementation and improvement. Previously achieved HubSpot Inbound and Content Marketing Certification.
              a(href="#" class="text-primary hover:underline") View All
          +section-container("Work Assignments")
            +section-content("Marketing Specialist", true, true)
              +subsection-container("Marketing Specialist", "work1")
                +subsection-content()
                  +h5("Description", "text-secondary")
                  ul.list-disc.list-inside
                    li Developing and implementing marketing plans.
                    li Undertaking competitor research and analyses.
                  a(href="#" class="text-primary hover:underline") View All
                +subsection-content()
                  +h5("Key Projects", "text-secondary")
                  p Compensation Module Release - Introduced the product to the marketplace by executing the plan with three marketing strategies: a new industry blog, a YouTube video series, and a Twitter account.
            +section-content("Marketing Associate", true, true)
              +subsection-container("Marketing Associate", "work2")
                +subsection-content()
                  +h5("Description", "text-secondary")
                  ul.list-disc.list-inside
                    li Managing daily administrative tasks to ensure the Marketing department runs smoothly
                    li Conducting market research to identify new revenue opportunities
                    li Gathering and analyzing consumer behavior data (e.g. web traffic and rankings)
                  a(href="#" class="text-primary hover:underline") View All
                +subsection-content()
                  +h5("Key Projects", "text-secondary")
                  p Email blast for product launch
          +section-container("Employment History", false, true)
            +section-content("Marketing Intern", true, true)
              +subsection-container("Marketing Intern", "employment")
          +section-container("Education", false, true)
            +section-content("Masters of Business Administration", true, true)
              +subsection-container("Masters of Business Administration", "education1")
            +section-content("Bachelors in Marketing", true, true)
              +subsection-container("Bachelors in Marketing", "education2")
          +section-container("Languages", false, true)
            +section-content("English", true, true)
              +subsection-container("English", "language1")
            +section-content("Spanish", true, true)
              +subsection-container("Spanish")
          +section-container("References", false, true)
          +section-container("Publications", false, true)
          +section-container("Patents", false, true)
          +section-container("Affiliations", false, true)
          +section-container("Speaking", false, true)
          +section-container("Military", false, true)
          +section-container("Security Credentials", false, true)

      aside(class="col-span-2 xl:col-span-1")
          +card-container("Links", false, true)
            +section-container()
              +section-content("Personal", true, true)
                +subsection-container()
                  p Personal
                  a(href="#" class="text-primary hover:underline") www.aaronglover.net
              +section-content("Portfolio", true, true)
                +subsection-container()
                  p Portfolio
                  a(href="#" class="text-primary hover:underline") www.dribbble.com/aaron
          +card-container("Documents", false, true)
            +section-container()
              +section-content("Resume_2019", true, true)
                +subsection-container()
                  a(href="#" class="text-primary hover:underline") Resume_2019
                  p PDF
                  p
                    span.text-secondary Uploaded on
                    span &nbsp;3/21/2018&nbsp;
                    span.text-secondary by Aaron Glover
              +section-content("Fundamentals of Team Building", true, true)
                +subsection-container()
                  a(href="#" class="text-primary hover:underline") Fundamentals of Team Building
                  p DOC
                  p
                    span.text-secondary Uploaded on
                    span &nbsp;3/21/2018&nbsp;
                    span.text-secondary by Aaron Glover
          +card-container("Recommendations")
            +section-container()
              +section-content()
                +subsection-container()
                  +insights-metric('Content Strategist', 'R&D Department', 'highlight-job.svg', 87)
              +section-content()
                +subsection-container()
                  +insights-metric('Digital Strategist', 'Marketing Department', 'highlight-job.svg', 63)
              +section-content()
                +subsection-container()
                  +insights-metric('Marketing Math', 'Enrollment Starting on 11/23/2019', 'highlight-course.svg', 63)
