extends ../layouts/layout.pug

block title
  title Website Home |  About

block body
  +navigation('About')

  main(class="module__content p-4")
    header
      h1.mb-4.text-2xl About
      section(class="sm:grid sm:gap-4 sm:grid-cols-2 xl:grid-cols-3")
        article.col-span-2 sdfsdf

        aside.col-span-1.bg-gray-400.py-4
            div Links
            div Documents
