extends ../layouts/layout.pug

block title
  title Website Home

block body
  +navigation('Overview')

  section.col-span-10.py-4
    header
      h1.mb-4.text-2xl Overview
      main.grid.grid-flow-col-dense.grid-cols-3.gap-4
        .general
          +card-container("Personal Info", true)
            +section-container("Contact Information", true)
              div
                +h3("Addresses")
                div.mb-4
                  +h4("Primary Residence", "text-gray-600")
                  ul
                    li 123 Street
                    li Coldwater, AK
                    li 34567
                    li United States of America
              div
                +h3("Contact Information")
                div.mb-4
                  +h4("Phone Numbers", "text-gray-600")
                  ul
                    li Home
                    li Business
                div.mb-4
                  +h4("Email Addresses", "text-gray-600")
                  ul
                    li Home
                    li Business
            +section-container("Personal Information")
              div.mb-4
                +h4("Marital Status", "text-gray-600")
                p Not specified
              div.mb-4
                +h4("Dependents", "text-gray-600")
                ul
                  li Maya Short
                  li Roberto Short
          +card-container("About", true)
            +section-container("Summary", false)
              p Assist with the analysis
            +section-container("Work Assignments", true)
              div.mb-4
                +h3("Marketing Specialist")
                p North American Marketing
                p 2/15/2018 &endash; Current ° 1 year 2 months
              div.mb-4
                +h4("Job Description", "text-gray-600")
                ul
                  li Developing
                  li Developing
              div.mb-4
                +h4("Key Projects", "text-gray-600")
                p Compensation module
        .career
          +card-container("Performance", true)
            +section-container("Timeline", false)
              div.h-24.bg-gray-400 chart here
            +section-container("Reviews", true)
              +performance-metric('Annual Review 2019', true, 'Due Date', '11/2/2019', false, 'Manager Review')
            +section-container("Goals", true)
              +performance-metric('Annual Review 2019', true, 'Due Date', '11/2/2019', false, 'Manager Review')
            +section-container("Competencies", true)
              +performance-metric('Annual Review 2019', true, 'Due Date', '11/2/2019', false, 'Manager Review')
            +section-container("Development Plans", true)
              +performance-metric('Annual Review 2019', true, 'Due Date', '11/2/2019', false, 'Manager Review')
          +card-container("Career", true)
            +section-container("Job Preferences", false)
              div.mb-4
                +h4("Interests", "text-gray-600")
                p Strategy Development
              div.mb-4
                +h4("Mobility", "text-gray-600")
                p Strategy Development
              div.mb-4
                +h4("Job Family", "text-gray-600")
                p Marketing; Sales

              div.mb-4
                +h4("Availability", "text-gray-600")
                p Monday – Thursday
                p 9:00am - 8:30pm
                p Saturday
                p 9:00am - 8:30pm

        .insights
          +card-container("Insights", false)
            +section-container("Highlights", false)
              +insights-metric('Strengths', 'Communication and Organization', 'icon here')
              +insights-metric('Last Promotion', 'Marketing Specialist on 7/15/2018', 'icon here')
              +insights-metric('Highest Experience', 'Marketing Specialist • 1 year and 2 months', 'icon here')
            +section-container("Recent Activity", true)
              div Fall Brand Strategy
              div Last Promotion
              div Highest Experience
            +section-container("Recommendations", true)
              div Strengths
              div Last Promotion
              div Highest Experience

