extends ../layouts/layout.pug

block title
  title Website Home

block body
  include ../includes/_navigation.pug
  include ../includes/_card-structure.pug
  include ../includes/_section-structure.pug
  include ../includes/_performance-structure.pug
  include ../includes/_insights-structure.pug

  +navigation('Overview')

  section.col-span-10.py-4
    header
      h1.mb-4.text-2xl Overview
      main.grid.grid-flow-col-dense.grid-cols-3.gap-4
        .general
          +card-container("Personal Info", true)
            +section-container("Contact Information", true)
              div
                h3.text-base.mb-1 Addresses
                div.mb-4
                  h4.text-gray-600 Primary Residence
                  ul
                    li 123 Street
                    li Coldwater, AK
                    li 34567
                    li United States of America
              div
                h3.text-base.mb-1 Contact Information
                div.mb-4
                  h4.text-gray-600 Phone Numbers
                  ul
                    li Home
                    li Business
                div.mb-4
                  h4.text-gray-600 Email Addresses
                  ul
                    li Home
                    li Business
            +section-container("Personal Information")
              div.mb-4
                h4.text-gray-600 Marital Status
                p Not specified
              div.mb-4
                h4.text-gray-600 Dependents
                ul
                  li Maya Short
                  li Roberto Short
          +card-container("About", true)
            +section-container("Summary", false)
              p Assist with the analysis
            +section-container("Work Assignments", true)
              div.mb-4
                h3.text-base.mb-1 Marketing Specialist
                p North American Marketing
                p 2/15/2018 &endash; Current ° 1 year 2 months
              div.mb-4
                h4.text-gray-600 Job Description
                ul
                  li Developing
                  li Developing
              div.mb-4
                h4.text-gray-600 Key Projects
                p Compensation module
        .career
          +card-container("Performance", true)
            +section-container("Timeline", false)
              div.h-24.bg-gray-400 chart here
            +section-container("Reviews", true)
              +performance-metric('Annual Review 2019', true, 'Due Date', '11/2/2019', false, 'Manager Review')
            +section-container("Goals", true)
              +performance-metric('Annual Review 2019', true, 'Due Date', '11/2/2019', false, 'Manager Review')
            +section-container("Competencies", true)
              +performance-metric('Annual Review 2019', true, 'Due Date', '11/2/2019', false, 'Manager Review')
            +section-container("Development Plans", true)
              +performance-metric('Annual Review 2019', true, 'Due Date', '11/2/2019', false, 'Manager Review')
          +card-container("Career", true)
            +section-container("Job Preferences", false)
              div.mb-4
                h4.text-gray-600 Interests
                p Strategy Development
              div.mb-4
                h4.text-gray-600 Mobility
                p Strategy Development
              div.mb-4
                h4.text-gray-600 Job Family
                p Marketing; Sales

              div.mb-4
                h4.text-gray-600 Availability
                p Monday – Thursday
                p 9:00am - 8:30pm
                p Saturday
                p 9:00am - 8:30pm

        .insights
          +card-container("Insights", false)
            +section-container("Highlights", false)
              +insights-metric('Strengths', 'Communication and Organization', 'icon here')
              +insights-metric('Last Promotion', 'Marketing Specialist on 7/15/2018', 'icon here')
              +insights-metric('Highest Experience', 'Marketing Specialist • 1 year and 2 months', 'icon here')
            +section-container("Recent Activity", true)
              div Fall Brand Strategy
              div Last Promotion
              div Highest Experience
            +section-container("Recommendations", true)
              div Strengths
              div Last Promotion
              div Highest Experience

