extends ../layouts/layout.pug

block title
  title Website Home

block body
  +navigation('Overview')

  main(class="module__content")
    header
      h2.mb-4.text-2xl Overview
    section(class="sm:grid sm:gap-4 sm:grid-cols-2 xl:grid-cols-3")
      .general
        +card-container("Personal Info", true)
          +section-container("Contact Information", true)
            +section-content()
              +subsection-container("Addresses")
                +subsection-content()
                  +h5("Primary Residence", "text-secondary")
                  ul
                    li 123 Street
                    li Coldwater, AK
                    li 34567
                    li United States of America
            +section-content()
              +subsection-container("Contact Information")
                +subsection-content()
                  +h5("Phone Numbers", "text-secondary")
                  ul
                    li Home
                    li Business
                +subsection-content()
                  +h5("Email Addresses", "text-secondary")
                  ul
                    li Home
                    li Business
          +section-container("Personal Information")
            +section-content()
              +subsection-content()
                +h5("Marital Status", "text-secondary")
                p Not specified
              +subsection-content()
                +h5("Dependents", "text-secondary")
                ul
                  li Maya Short
                  li Roberto Short
        +card-container("About", true)
          +section-container("Summary")
            +section-content()
              p Assist with the analyses of marketing data, including campaign results, conversion rates, and online traffic in order to improve future marketing strategies and campai...
          +section-container("Work Assignments", true)
            +section-content()
              +subsection-container("Marketing Specialist", "work0")
                +subsection-content()
                  +h5("Description", "text-secondary")
                  ul.list-disc.list-inside
                    li Developing and implementing marketing plans.
                    li Undertaking competitor research and analyses.
                +subsection-content()
                  +h5("Key Projects", "text-secondary")
                  p Compensation Module Release - Introduced the product to the marketplace by executing the plan with three marketing strategies: a new industry blog, a YouTube video series, and a Twitter account.
      .career
        +card-container("Performance", true)
          +section-container("Timeline", false)
            +section-content()
              img(src="chart.svg" alt="" class="w-full")
          +section-container("Reviews", true)
            +section-content()
              +subsection-container()
                +performance-metric('Annual Review 2019', false, 'Due Date', '11/2/2019', false, 'Manager Review')
          +section-container("Goals", true)
            +section-content()
              +subsection-container()
                +section-content()
                  +subsection-container()
                    +performance-metric('Holiday Brand Strategy', true, 'Due Date', '11/30/2019', true, '23%')
            +section-content()
              +subsection-container()
                +performance-metric('Winter Brand Strategy', false, 'Due Date', '12/25/2019', false, 'Not Started')
          +section-container("Competencies", true)
            +section-content()
              +subsection-content()
                +performance-metric('Presentation Skills', true, 'Category', 'Core Values', false, '4.4')
            +section-content()
              +subsection-container()
                +performance-metric('Communication Skills', true, 'Category', 'Technical', false, 'Not Rated')
          +section-container("Development Plans", true)
            +section-content()
              +subsection-container()
              +performance-metric('Leadership Skills', true, 'Period', '11/30/2019 - 6/30/2020', true, '50%')
            +section-content()
              +subsection-container()
              +performance-metric('Management Skills', true, 'Period', '2/2/2020 - 6/1/2020', false)
        +card-container("Career", true)
          +section-container("Job Preferences", false)
            +section-content()
              +subsection-container()
                +subsection-content()
                  +h5("Interests", "text-secondary")
                  p Strategy Development
                +subsection-content()
                  +h5("Mobility", "text-secondary")
                  p Strategy Development
                +subsection-content()
                  +h5("Job Family", "text-secondary")
                  p Marketing; Sales
                +subsection-content()
                  +h5("Availability", "text-secondary")
                  p Monday – Thursday
                  ul
                    li 9:00am &ndash; 8:30pm
                  p Saturday
                  ul
                    li 9:00am &ndash; 8:30pm

      .insights
        +card-container("Insights", false)
          +section-container("Highlights", false)
            +section-content()
              +subsection-container()
                +insights-metric('Strengths', 'Communication and Organization', 'highlight-strength.svg')
            +section-content()
              +subsection-container()
                +insights-metric('Last Promotion', 'Marketing Specialist on 7/15/2018', 'highlight-promotion.svg')
            +section-content()
              +subsection-container()
                +insights-metric('Highest Experience', 'Marketing Specialist • 1 year and 2 months', 'highlight-experience.svg')
          +section-container("Recent Activity", true)
            +section-content()
              +subsection-container()
                +insights-metric('Fall Brand Strategy', 'Goal completed on 8/12/2019', 'highlight-goal.svg')
            +section-content()
              +subsection-container()
                +insights-metric('Digital Analytics', 'Course Enrolled on 7/22/2019', 'highlight-course.svg')
            +section-content()
              +subsection-container()
                +insights-metric('Execute marketing program 2019', 'Goal completed on 8/12/2019', 'highlight-goal.svg')
            +section-content()
              +subsection-container()
                +insights-metric('Integrated Branding', 'Course Enrolled on 7/22/2019', 'highlight-course.svg')
          +section-container("Recommendations", true)
            +section-content()
              +subsection-container()
                +insights-metric('Content Strategist', 'R&D Department', 'highlight-job.svg', 87)
            +section-content()
              +subsection-container()
                +insights-metric('Digital Strategist', 'Marketing Department', 'highlight-job.svg', 63)
            +section-content()
              +subsection-container()
                +insights-metric('Marketing Math', 'Enrollment Starting on 11/23/2019', 'highlight-course.svg', 63)