extends ../layouts/layout.pug

block title
  title Website Home

block body
  +navigation('Overview')

  section.col-span-10.py-4
    header
      h1.mb-4.text-2xl Overview
      main(class="md:grid md:gap-4 lg:grid-cols-2 xl:grid-cols-3")
        .general
          +card-container("Personal Info", true)
            +section-container("Contact Information", true)
              div
                +h3("Addresses")
                div.mb-4
                  +h4("Primary Residence", "text-gray-600")
                  ul
                    li 123 Street
                    li Coldwater, AK
                    li 34567
                    li United States of America
              div
                +h3("Contact Information")
                div.mb-4
                  +h4("Phone Numbers", "text-gray-600")
                  ul
                    li Home
                    li Business
                div.mb-4
                  +h4("Email Addresses", "text-gray-600")
                  ul
                    li Home
                    li Business
            +section-container("Personal Information")
              div.mb-4
                +h4("Marital Status", "text-gray-600")
                p Not specified
              div.mb-4
                +h4("Dependents", "text-gray-600")
                ul
                  li Maya Short
                  li Roberto Short
          +card-container("About", true)
            +section-container("Summary", false)
              p Assist with the analyses of marketing data, including campaign results, conversion rates, and online traffic in order to improve future marketing strategies and campai...
            +section-container("Work Assignments", true)
              div.mb-4
                +h3("Marketing Specialist")
                p North American Marketing
                p 2/15/2018 – Current ° 1 year 2 months
              div.mb-4
                +h4("Job Description", "text-gray-600")
                ul
                  li Developing
                  li Developing
              div.mb-4
                +h4("Key Projects", "text-gray-600")
                p Compensation module
        .career
          +card-container("Performance", true)
            +section-container("Timeline", false)
              img(src="chart.svg" class="w-full")
            +section-container("Reviews", true)
              +performance-metric('Annual Review 2019', false, 'Due Date', '11/2/2019', false, 'Manager Review')
            +section-container("Goals", true)
              +performance-metric('Holiday Brand Strategy', true, 'Due Date', '11/30/2019', true, '23%')
              +performance-metric('Winter Brand Strategy', false, 'Due Date', '12/25/2019', false, 'Not Started')
            +section-container("Competencies", true)
              +performance-metric('Presentation Skills', true, 'Category', 'Core Values', false, '4.4')
              +performance-metric('Communication Skills', true, 'Category', 'Technical', false, 'Not Rated')
            +section-container("Development Plans", true)
              +performance-metric('Leadership Skills', true, 'Period', '11/30/2019 - 6/30/2020', true, '50%')
              +performance-metric('Management Skills', true, 'Period', '2/2/2020 - 6/1/2020', false)
          +card-container("Career", true)
            +section-container("Job Preferences", false)
              div.mb-4
                +h4("Interests", "text-gray-600")
                p Strategy Development
              div.mb-4
                +h4("Mobility", "text-gray-600")
                p Strategy Development
              div.mb-4
                +h4("Job Family", "text-gray-600")
                p Marketing; Sales

              div.mb-4
                +h4("Availability", "text-gray-600")
                p Monday – Thursday
                p 9:00am - 8:30pm
                p Saturday
                p 9:00am - 8:30pm

        .insights
          +card-container("Insights", false)
            +section-container("Highlights", false)
              +insights-metric('Strengths', 'Communication and Organization', 'highlight-strength.svg')
              +insights-metric('Last Promotion', 'Marketing Specialist on 7/15/2018', 'icon here')
              +insights-metric('Highest Experience', 'Marketing Specialist • 1 year and 2 months', 'icon here')
            +section-container("Recent Activity", true)
              +insights-metric('Fall Brand Strategy', 'Goal completed on 8/12/2019', 'icon here')
              +insights-metric('Digital Analytics', 'Course Enrolled on 7/22/2019', 'icon here')
              +insights-metric('Execute marketing program 2019', 'Goal completed on 8/12/2019', 'icon here')
              +insights-metric('Integrated Branding', 'Course Enrolled on 7/22/2019', 'icon here')
            +section-container("Recommendations", true)
              +insights-metric('Content Strategist', 'R&D Department', 'icon here', '87%', '')
              +insights-metric('Digital Strategist', 'Marketing Department', 'icon here', '63%', '')
              +insights-metric('Marketing Math', 'Enrollment Starting on 11/23/2019', 'icon here', '63%', '')

