extends ../layouts/layout.pug

block title
  title Website Home

block body
  +navigation('Overview')

  main(class="module__content")
    header
      h1.mb-4.text-2xl Overview
      section(class="sm:grid sm:gap-4 sm:grid-cols-2 xl:grid-cols-3")
        .general
          +card-container("Personal Info", true)
            +section-container("Contact Information", true)
              +subsection-container("Addresses")
                +h4("Primary Residence", "text-gray-600")
                ul
                  li 123 Street
                  li Coldwater, AK
                  li 34567
                  li United States of America
              +subsection-container("Contact Information")
                +h4("Phone Numbers", "text-gray-600")
                ul
                  li Home
                  li Business
              +subsection-container()
                +h4("Email Addresses", "text-gray-600")
                ul
                  li Home
                  li Business
            +section-container("Personal Information")
              +subsection-container()
                +h4("Marital Status", "text-gray-600")
                p Not specified
              +subsection-container()
                +h4("Dependents", "text-gray-600")
                ul
                  li Maya Short
                  li Roberto Short
          +card-container("About", true)
            +section-container("Summary", false)
              p Assist with the analyses of marketing data, including campaign results, conversion rates, and online traffic in order to improve future marketing strategies and campai...
            +section-container("Work Assignments", true)
              div
                header(class="mt-4 mb-2")
                  +h3("Marketing Specialist")
                  p North American Marketing
                  p 
                    span.text-gray-600 Department:&nbsp;
                    span Marketing
                    span &nbsp;&nbsp;&#8226;&nbsp;&nbsp;
                    span.text-gray-600 Supervisor:&nbsp;
                    span James Clove
                  p 2/15/2018 &ndash; Current&nbsp;&nbsp;&#8226;&nbsp;&nbsp;1 year 2 months
                div.mt-2
                  +h4("Description", "text-gray-600")
                  ul.list-disc.list-inside
                    li Developing and implementing marketing plans.
                    li Undertaking competitor research and analyses.
                div.mt-2
                  +h4("Key Projects", "text-gray-600")
                  p Compensation Module Release - Introduced the product to the marketplace by executing the plan with three marketing strategies: a new industry blog, a YouTube video series, and a Twitter account.
        .career
          +card-container("Performance", true)
            +section-container("Timeline", false)
              img(src="chart.svg" class="w-full")
            +section-container("Reviews", true)
              +performance-metric('Annual Review 2019', false, 'Due Date', '11/2/2019', false, 'Manager Review')
            +section-container("Goals", true)
              +performance-metric('Holiday Brand Strategy', true, 'Due Date', '11/30/2019', true, '23%')
              +performance-metric('Winter Brand Strategy', false, 'Due Date', '12/25/2019', false, 'Not Started')
            +section-container("Competencies", true)
              +performance-metric('Presentation Skills', true, 'Category', 'Core Values', false, '4.4')
              +performance-metric('Communication Skills', true, 'Category', 'Technical', false, 'Not Rated')
            +section-container("Development Plans", true)
              +performance-metric('Leadership Skills', true, 'Period', '11/30/2019 - 6/30/2020', true, '50%')
              +performance-metric('Management Skills', true, 'Period', '2/2/2020 - 6/1/2020', false)
          +card-container("Career", true)
            +section-container("Job Preferences", false)
              +subsection-container()
                +h4("Interests", "text-gray-600")
                p Strategy Development
              +subsection-container()
                +h4("Mobility", "text-gray-600")
                p Strategy Development
              +subsection-container()
                +h4("Job Family", "text-gray-600")
                p Marketing; Sales

              +subsection-container()
                +h4("Availability", "text-gray-600")
                p Monday – Thursday
                ul
                  li 9:00am &ndash; 8:30pm
                p Saturday
                ul
                  li 9:00am &ndash; 8:30pm

        .insights
          +card-container("Insights", false)
            +section-container("Highlights", false)
              +insights-metric('Strengths', 'Communication and Organization', 'highlight-strength.svg')
              +insights-metric('Last Promotion', 'Marketing Specialist on 7/15/2018', 'highlight-promotion.svg')
              +insights-metric('Highest Experience', 'Marketing Specialist • 1 year and 2 months', 'highlight-experience.svg')
            +section-container("Recent Activity", true)
              +insights-metric('Fall Brand Strategy', 'Goal completed on 8/12/2019', 'highlight-goal.svg')
              +insights-metric('Digital Analytics', 'Course Enrolled on 7/22/2019', 'highlight-course.svg')
              +insights-metric('Execute marketing program 2019', 'Goal completed on 8/12/2019', 'highlight-goal.svg')
              +insights-metric('Integrated Branding', 'Course Enrolled on 7/22/2019', 'highlight-course.svg')
            +section-container("Recommendations", true)
              +insights-metric('Content Strategist', 'R&D Department', 'highlight-job.svg', 87)
              +insights-metric('Digital Strategist', 'Marketing Department', 'highlight-job.svg', 63)
              +insights-metric('Marketing Math', 'Enrollment Starting on 11/23/2019', 'highlight-course.svg', 63)