- var title = "Page Title";

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    block title
      title Page Title TBD
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='robots', content='')

    //- HTML5 Shim
    //[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]

    //- Favicon
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')

    //- Viewport Meta Tag
    meta(content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=2.0", name="viewport")

    //- Stylesheet
    link(rel="stylesheet" href="styles.css")

  body.text-sm

    include ../includes/_navigation.pug
    include ../includes/_toolbar-structure.pug
    include ../includes/_tabs-structure.pug
    include ../includes/_heading-structure.pug
    include ../includes/_card-structure.pug
    include ../includes/_section-structure.pug
    include ../includes/_subsection-structure.pug
    include ../includes/_performance-structure.pug
    include ../includes/_insights-structure.pug

    div.masthead.flex.justify-between.items-center
      div
        button(class="sm:border-r sm:border-white py-2 px-4 sm:px-6 sm:mr-4")
          img(src="masthead-nav.svg" alt="Expand Global Navigation")
        button.mr-2
          img(src="masthead-home.svg" alt="Home")
      div.text-white.text-sm Profile &amp; Settings
      div.flex.items-center
        div(class="hidden sm:block")
          button.ml-3
            img(src="masthead-people.svg" alt="People")
          button.ml-3
            img(src="masthead-search.svg" alt="Search")
          button.ml-3
            img(src="masthead-help.svg" alt="Help")
          button.ml-3
            img(src="masthead-inbox.svg" alt="Message Center")
        button(class="sm:border-l sm:border-white pr-2 pl-4 ml-4")
          img(src="masthead-account.svg" alt="Account")
    div.module
      header(class="profile-header sm:flex justify-between")
        button.profile-header__toggle
          img(src="header-collapse.svg" alt="Collapse profile header")
        div(class="profile-header__primary mb-2 sm:m-0 flex items-start sm:items-center")
          img(src="avatar.png" class="profile-header__avatar inline-block rounded-full mr-4" aria-hidden="true")
          div(class="inline-block text-white text-xs sm:text-sm leading-tight")
            div.profile-header__employee
              h2(class="text-base sm:text-lg") Aaron Glover
              p Marketing Specialist
            div.profile-header__employee-details
              p North American Marketing
              div.mt-1.mb-2
                a(href="tel:+16571234323" class="inline-flex mr-4 items-center hover:underline")
                  img(src="header-phone.svg" class="mr-2" alt="Aaron Glover's Phone Number")
                  span +1(657)-123-4323
                a(href="mailto:aarong@asia.com" class="inline-flex mr-4 items-center hover:underline")
                  img(src="header-email.svg" class="mr-2" alt="Aaron Glover's Email Address")
                  span aarong@asia.com
              div.space-x-2.mt-1.mb-2
                a(href="#")
                  img(src="header-linkedin.svg" class="inline-block" alt="Aaron Glover on LinkedIn")
                a(href="#")
                  img(src="header-twitter.svg" class="inline-block" alt="Aaron Glover on Twitter")
        div(class="profile-header__secondary flex space-x-4 sm:space-x-6 items-center text-center text-xs leading-snug text-primary uppercase")
          div(class="profile-header__secondary-item inline-block bg-white px-2 py-2 sm:py-1 rounded")
            div(class="profile-header__due font-bold leading-tight") 1
            div(class="profile-header__due") courses
            div(class="profile-header__due text-red-600") due
          div(class="profile-header__secondary-item inline-block bg-white px-2 py-2 sm:py-1 rounded")
            div(class="profile-header__due font-bold leading-tight") 1
            div(class="profile-header__due") goals
            div(class="profile-header__due text-red-600") due
          div(class="profile-header__secondary-item inline-block bg-white px-2 py-2 sm:py-1 rounded")
            div(class="profile-header__due font-bold leading-tight") 1
            div(class="profile-header__due") reviews
            div(class="profile-header__due text-red-600") due

      div.module__wrapper.grid.grid-cols-12
        block body
    //- JQuery
    script(src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous")
    script(src="functions.js")