- var title = "Page Title";

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    block title
      title Page Title TBD
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='robots', content='')

    //- HTML5 Shim
    //[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]

    //- Favicon
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')

    //- Viewport Meta Tag
    meta(content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=2.0", name="viewport")

    //- Stylesheet
    link(rel="stylesheet" href="styles.css")

  body.text-xs
    div.masthead.bg-blue-600.p-2.flex.justify-between
      div Navigation
      div.text-white.text-sm Profile &amp; Settings
      div Logout
    header.profile-header.bg-blue-400.p-4
      h2 Aaron Glover
      p Marketing Specialist
      p North American Marketing
      p +1(657)-123-4323
      p aarong@asia.com

    include ../includes/_navigation.pug

    div.grid.grid-cols-12.gap-4
      aside.h-full.col-span-2.bg-gray-100.border-r.sticky
        ul.py-4
          each link in navigation
            li
              a(class='py-1 px-4 block hover:bg-gray-200 text-blue-600' href='//google.com')= link
      block body

  script(src="function.js")