- var title = "Page Title";

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    block title
      title Page Title TBD
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='robots', content='')

    //- HTML5 Shim
    //[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]

    //- Favicon
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')

    //- Viewport Meta Tag
    meta(content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=2.0", name="viewport")

    //- Stylesheet
    link(rel="stylesheet" href="styles.css")

  body.text-sm

    include ../includes/_navigation.pug
    include ../includes/_toolbar-structure.pug
    include ../includes/_tabs-structure.pug
    include ../includes/_heading-structure.pug
    include ../includes/_card-structure.pug
    include ../includes/_section-structure.pug
    include ../includes/_subsection-structure.pug
    include ../includes/_performance-structure.pug
    include ../includes/_insights-structure.pug

    div.masthead.bg-blue-600.p-2.flex.justify-between
      div Navigation
      div.text-white.text-sm Profile &amp; Settings
      div Logout
    div.module
      header(class="module__header sm:flex bg-blue-400 p-4 justify-between")
        div
          div.w-24.h-24.bg-white.inline-block.rounded-full
          div.inline-block.text-white.m-4.text-sm.leading-snug
            h2.text-lg Aaron Glover
            p Marketing Specialist
            p North American Marketing
            p +1(657)-123-4323
            p aarong@asia.com
        div.flex.space-x-6.items-center.text-center.text-xs.leading-snug.text-blue-600.uppercase
          div.w-20.bg-white.p-1.rounded
            div.text-2xl 1
            div courses
            div.text-red-600 due
          div.w-20.bg-white.p-1.rounded
            div.text-2xl 1
            div goals
            div.text-red-600 due
          div.w-20.bg-white.p-1.rounded
            div.text-2xl 1
            div reviews
            div.text-red-600 due

      div.module__wrapper.grid.grid-cols-12
        block body

    script(src="function.js")